/*
 * {{.Name}} - Userspace application
 * Cross-compiled for embedded Linux
 */

#include <stdio.h>
#include <stdlib.h>

int main(int argc, char *argv[])
{
    printf("{{.Name}}: Hello from embedded Linux!\n");
    return 0;
}
